.section-proyectos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    padding: 2rem;
    background-color: var(--verde-claro);
}

.section-proyectos h2{
    color: var(--morado-claro);
    font-size: 3rem;
    margin: 1rem 0 2rem 0;
}
.section-proyectos h4{
    color: var(--morado-claro);
    margin: 0rem 0 2rem 0;
}

@media (max-width: 780px) {
    .section-proyectos {
        justify-content: start;
        min-height: auto;
    }
}
