:root {
    --morado-claro: #C2ADE0;
    --morado-oscuro: #B29ECF;
    --verde-claro: #004138;
    --verde-oscuro: #01342D;
    --verde-mas-oscuro: #1B2824;
    --gris: #C4C1C5;
}

@font-face {
    font-family: Maragsa;
    src: url('../../font/maragsa.ttf');
}

@font-face {
    font-family: Josefin;
    src: url('../../font/JosefinSans.ttf');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s all ease;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Maragsa;
}

p, li,
.btn-main {
    font-family: Josefin;
}

.section {
    min-height: 100vh;
    max-width: 1400px;
    padding: 2rem;
}

